.checkout-content {
  display: flex;
  justify-content: center;
}

.contact-info {
  width: 55%; /* 10% mehr als vorher */
  border: 2px solid #ccc;
  border-radius: 0px;
  padding: 25px;
  box-sizing: border-box; /* Ensure padding is included in width */
}

.checkout-summary {
  width: 45%; /* 10% weniger als vorher */
  flex: 1;
  border: 2px solid #ccc;
  border-radius: 0px;
  padding: 75px;
  padding-right: 15%; /* Adjust padding if necessary */
  box-sizing: border-box; /* Ensure padding is included in width */
}

.checkoutSummary {
  border: 2px solid #8b8b8b;
  border-radius: 5px;
  padding: 25px;
}

.checkout-summary-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.checkout-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="text"] {
  width: 100%; /* Ensure all input fields have the same width */
  padding: 10px;
  box-sizing: border-box; /* Ensure padding is included in width */
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 15px; /* Add space between fields */
}

input[type="email"] {
  width: 100%; /* Ensure all input fields have the same width */
  padding: 10px;
  box-sizing: border-box; /* Ensure padding is included in width */
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 15px; /* Add space between fields */
}

.inputFieldLieferung {
  margin-bottom: 15px; /* Adjust spacing as needed */
}

.lieferungTitle, .paymentContentTitle {
  margin-top: 20px; /* Adjust margin-top as needed */
}

.checkoutButton {
  display: flex;
  justify-content: center;
  align-items: center;
}







